.page {
  &__promo {
    position: relative;

    display: flex;

    min-height: 100vh;
    padding-top: 20px;

    flex-direction: column;

    @media screen and (min-width: 375px) and (min-height: 812px) {
      padding-top: 153px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 0;
    }
  }
}
